<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="block-title">
      <h3>Cilents</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="clients owl-carousel">
      
      <div class="client-block">
        <a href="#" target="_blank" title="Logo">
          <img src="https://www.tikigo.com/assets/logo/tikigo-847540f88e38a5be1a412e95956558cec00cf448964ca2ccc960358f2b4e8ffc.png" alt="Logo">
        </a>
      </div>

      <div class="client-block">
        <a href="#" target="_blank" title="Logo">
          <img src="https://app.areascouts.com/assets/logo-9e951c447543912956297ff6cdc24e791c5a7f2c055ea44c9d53202011071e4f.png" alt="Logo">
        </a>
      </div>

      <!-- <div class="client-block">
        <a href="#" target="_blank" title="Logo">
          <img src="img/clients/client-3.png" alt="Logo">
        </a>
      </div>

      <div class="client-block">
        <a href="#" target="_blank" title="Logo">
          <img src="img/clients/client-4.png" alt="Logo">
        </a>
      </div>

      <div class="client-block">
        <a href="#" target="_blank" title="Logo">
          <img src="img/clients/client-5.png" alt="Logo">
        </a>
      </div>

      <div class="client-block">
        <a href="#" target="_blank" title="Logo">
          <img src="img/clients/client-6.png" alt="Logo">
        </a>
      </div>

      <div class="client-block">
        <a href="#" target="_blank" title="Logo">
          <img src="img/clients/client-7.png" alt="Logo">
        </a>
      </div> -->

    </div>
  </div>
</div>