<div class="row">
  <div class="col-xs-12 col-sm-7">
   <p>Hi! I'm Jayson Presto (iprog21), A freelance programmer.</p>
   <p>
     My programming adventure was started when I was 2nd year college as a Computer Science Student. C, VB.net and C# are the Programming Languages(PL) that I had learned first. But, 
     mostly I used C# to earn money. After I graduated at college, I got a job as a PHP Developer from a startup company but unfortunately it didn't materialize. 
     then fast forward, at present, I am now a Freelance Programmer in <a href="https://www.tikigo.com" target="_blank">Tikigo</a>.
     <!-- and <a href="https://www.areascouts.com/" target="_blank">Areascouts</a> -->
   </p>
  </div>

  <div class="col-xs-12 col-sm-5">
    <div class="info-list">
      <ul>
        <li>
          <span class="title">Age</span>
          <span class="value"><%= my_birthday %></span>
        </li>

        <!-- <li>
          <span class="title">Residence</span>
          <span class="value">Philippines</span>
        </li> -->

        <li>
          <span class="title">Address</span>
          <span class="value">Bgy. San Miguel, Wescom rd., Leotilla's Residence, Puerto Princesa City, Palawan, Philippines</span>
        </li>

        <li>
          <span class="title">Email</span>
          <span class="value">jaysonpresto.iprog21@gmail.com</span>
        </li>

        <li>
          <span class="title">Phone</span>
          <span class="value">+63 966 811 6105 or (048) 716 4849</span>
        </li>
      </ul>
    </div>
  </div>
</div>