<section data-id="contact" class="animated-section">
  <div class="page-title">
    <h2>Contact</h2>
  </div>

  <div class="section-content">

    <div class="row">
      <!-- Contact Info -->
      <div class="col-xs-12 col-sm-12">
        <!-- <div class="lm-info-block gray-default">
          <i class="lnr lnr-map-marker"></i>
          <h4>Philippines</h4>
          <span class="lm-info-block-value"></span>
          <span class="lm-info-block-text"></span>
        </div> -->

        <div class="lm-info-block gray-default">
          <i class="lnr lnr-phone-handset"></i>
          <h4>
              Tel: (048) 716 4849 <br>
              Whatsapp: +63 966 811 6105
          </h4>
          <span class="lm-info-block-value"></span>
          <span class="lm-info-block-text"></span>
        </div>

        <div class="lm-info-block gray-default">
          <i class="lnr lnr-envelope"></i>
          <h4>
            <strong>iprog21@jaysonpresto.me</strong> <br>
            <small>jaysonpresto.iprog21@gmail.com</small> <br>
            <small>iprog21@yahoo.com.ph</small>
          </h4>
          <span class="lm-info-block-value"></span>
          <span class="lm-info-block-text"></span>
        </div>

        <div class="lm-info-block gray-default">
          <i class="fab fa-skype"></i>
          <h4>iprog21</h4>
          <span class="lm-info-block-value"></span>
          <span class="lm-info-block-text"></span>
        </div>


      </div>
      <!-- End of Contact Info -->

      <!-- Contact Form -->
      <% render partial: 'jaysonpresto/contact_form' %>
      <!-- End of Contact Form -->
    </div>

  </div>
</section>