<% content_for :body  do %>
<div class="content-area custom-area">
  <div class="row">
    <%= render 'message_display_result' %>
    <h1>Edit Participant <%= @participant.full_name %> | <%= link_to 'Back To Participants List', projects_participants_path, data: {turbolinks: false} %></h2>
    </h1> 
    <%= render 'form' %>
  </div>
</div>
<% end %>
