<% content_for :body  do %>
<div class="content-area custom-area">
  <div class="row">
    <%= render 'message_display_result' %>
    <h1>New Participant</h2>
    </h1> 
    <%= render 'form' %>
  </div>
</div>
<% end %>
